<main class="main-content">
  <div class="container">
    <div class="page">
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <figure class="movie-poster">
              <img
                [src]="'http://image.tmdb.org/t/p/w185/' + movie.poster_path"
                alt="#"
              />
            </figure>
          </div>
          <div class="col-md-9">
            <h2 class="movie-title" style="font-size: 16px;">
              <strong>{{ movie.title }}</strong>
            </h2>
            <div class="movie-summary">
              <p>
                {{ movie.overview }}
              </p>
            </div>
            <ul class="movie-meta">
              <li>
                <strong>Rating: </strong>
                <strong>{{ movie.vote_average }}</strong> of 10
              </li>
              <li><strong>Premiere:</strong> {{ movie.release_date }}</li>
            </ul>

            <ul class="starring">
              <li>
                <strong>Production Countries: </strong
                >{{ movie.production_countries }}
              </li>
              <li>
                <strong>Production Copmanies: </strong
                >{{ movie.production_companies }}
              </li>
            </ul>
          </div>
        </div>
        <!-- .row -->
      </div>
    </div>
  </div>
  <!-- .container -->
</main>
